<table
id="example2"
class="table table-bordered table-striped dataTable dtr-inline collapsed"
width="100%"
role="grid"
aria-describedby="example2_info"
style="width: 100%"
>
<thead class="bg-primary">
  <tr role="row">
    <th
      class="text-center sorting_disabled"
      rowspan="1"
      colspan="1"
      style="width: 22px"
      aria-label="
      
    "
    >
      <div
        class="icheckbox_square-orange"
        aria-checked="false"
        aria-disabled="false"
        style="position: relative"
      >
        <input
          type="checkbox"
          class="group_check checkbox"
          style="
            position: absolute;
            top: -10%;
            left: -10%;
            display: block;
            width: 120%;
            height: 120%;
            margin: 0px;
            padding: 0px;
            background: rgb(255, 255, 255);
            border: 0px;
            opacity: 0;
          "
        /><ins
          class="iCheck-helper"
          style="
            position: absolute;
            top: -10%;
            left: -10%;
            display: block;
            width: 120%;
            height: 120%;
            margin: 0px;
            padding: 0px;
            background: rgb(255, 255, 255);
            border: 0px;
            opacity: 0;
          "
        ></ins>
      </div>
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 58px"
      aria-label="Purchase Date: activate to sort column ascending"
    >
      Purchase Date
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 70px"
      aria-label="Purchase Code: activate to sort column ascending"
    >
      Purchase Code
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 58px"
      aria-label="Purchase Status: activate to sort column ascending"
    >
      Purchase Status
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 62px"
      aria-label="Reference No.: activate to sort column ascending"
    >
      Reference No.
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 53px"
      aria-label="Supplier Name: activate to sort column ascending"
    >
      Supplier Name
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 41px"
      aria-label="Total: activate to sort column ascending"
    >
      Total
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 56px; display: none"
      aria-label="Paid Payment: activate to sort column ascending"
    >
      Paid Payment
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 41px; display: none"
      aria-label="Due: activate to sort column ascending"
    >
      Due
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 56px; display: none"
      aria-label="Payment Status: activate to sort column ascending"
    >
      Payment Status
    </th>
    <th
      class="sorting_disabled"
      rowspan="1"
      colspan="1"
      style="width: 49px; display: none"
      aria-label="Created by"
    >
      Created by
    </th>
    <th
      class="sorting"
      tabindex="0"
      aria-controls="example2"
      rowspan="1"
      colspan="1"
      style="width: 53px; display: none"
      aria-label="Action: activate to sort column ascending"
    >
      Action
    </th>
  </tr>
</thead>

<tbody>
  <tr role="row" class="odd">
    <td class="text-center" tabindex="0">
      <div
        class="icheckbox_square-orange"
        aria-checked="false"
        aria-disabled="false"
        style="position: relative"
      >
        <input
          type="checkbox"
          name="checkbox[]"
          value="19"
          class="checkbox column_checkbox"
          style="
            position: absolute;
            top: -10%;
            left: -10%;
            display: block;
            width: 120%;
            height: 120%;
            margin: 0px;
            padding: 0px;
            background: rgb(255, 255, 255);
            border: 0px;
            opacity: 0;
          "
        /><ins
          class="iCheck-helper"
          style="
            position: absolute;
            top: -10%;
            left: -10%;
            display: block;
            width: 120%;
            height: 120%;
            margin: 0px;
            padding: 0px;
            background: rgb(255, 255, 255);
            border: 0px;
            opacity: 0;
          "
        ></ins>
      </div>
    </td>
    <td>04-07-2022</td>
    <td>PU0019</td>
    <td>Received</td>
    <td></td>
    <td>David W</td>
    <td>10,000.00</td>
    <td style="display: none">0.00</td>
    <td style="display: none">10,000.00</td>
    <td style="display: none">
      <span class="label label-danger" style="cursor: pointer"
        >Unpaid
      </span>
    </td>
    <td style="display: none">Admin</td>
    <td style="display: none">
      <div class="btn-group" title="View Account">
        <a
          class="btn btn-primary btn-o dropdown-toggle"
          data-toggle="dropdown"
          href="#"
        >
          Action <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu dropdown-light pull-right">
          <li>
            <a title="View Invoice" href="purchase/invoice/19"
              ><i class="fa fa-fw fa-eye text-blue"></i>View Purchase
            </a>
          </li>
          <li>
            <a title="Update Record ?" href="purchase/update/19">
              <i class="fa fa-fw fa-edit text-blue"></i>Edit
            </a>
          </li>
          <li>
            <a title="Pay" class="pointer" onclick="view_payments(19)">
              <i class="fa fa-fw fa-money text-blue"></i>View Payments
            </a>
          </li>
          <li>
            <a title="Pay" class="pointer" onclick="pay_now(19)">
              <i class="fa fa-fw fa-hourglass-half text-blue"></i>Pay Now
            </a>
          </li>
          <li>
            <a
              title="Update Record ?"
              target="_blank"
              href="purchase/print_invoice/19"
            >
              <i class="fa fa-fw fa-print text-blue"></i>Print
            </a>
          </li>
          <li>
            <a
              title="Update Record ?"
              target="_blank"
              href="purchase/pdf/19"
            >
              <i class="fa fa-fw fa-file-pdf-o text-blue"></i>PDF
            </a>
          </li>
          <li>
            <a title="Purchase Return" href="purchase_return/add/19">
              <i class="fa fa-fw fa-undo text-blue"></i>Purchase Return
            </a>
          </li>
          <li>
            <a
              style="cursor: pointer"
              title="Delete Record ?"
              onclick="delete_purchase('19')"
            >
              <i class="fa fa-fw fa-trash text-red"></i>Delete
            </a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  <tr role="row" class="even">
    <td class="text-center" tabindex="0">
      <div
        class="icheckbox_square-orange"
        aria-checked="false"
        aria-disabled="false"
        style="position: relative"
      >
        <input
          type="checkbox"
          name="checkbox[]"
          value="18"
          class="checkbox column_checkbox"
          style="
            position: absolute;
            top: -10%;
            left: -10%;
            display: block;
            width: 120%;
            height: 120%;
            margin: 0px;
            padding: 0px;
            background: rgb(255, 255, 255);
            border: 0px;
            opacity: 0;
          "
        /><ins
          class="iCheck-helper"
          style="
            position: absolute;
            top: -10%;
            left: -10%;
            display: block;
            width: 120%;
            height: 120%;
            margin: 0px;
            padding: 0px;
            background: rgb(255, 255, 255);
            border: 0px;
            opacity: 0;
          "
        ></ins>
      </div>
    </td>
    <td>04-07-2022</td>
    <td>
      PU0018
      <span class="label label-danger" style="cursor: pointer"
        ><i class="fa fa-fw fa-undo"></i>Return Raised</span
      >
    </td>
    <td>Received</td>
    <td></td>
    <td>Glenn M</td>
    <td>1,000.00</td>
    <td style="display: none">0.00</td>
    <td style="display: none">1,000.00</td>
    <td style="display: none">
      <span class="label label-danger" style="cursor: pointer"
        >Unpaid
      </span>
    </td>
    <td style="display: none">Admin</td>
    <td style="display: none">
      <div class="btn-group" title="View Account">
        <a
          class="btn btn-primary btn-o dropdown-toggle"
          data-toggle="dropdown"
          href="#"
        >
          Action <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu dropdown-light pull-right">
          <li>
            <a title="View Invoice" href="purchase/invoice/18"
              ><i class="fa fa-fw fa-eye text-blue"></i>View Purchase
            </a>
          </li>
          <li>
            <a title="Update Record ?" href="purchase/update/18">
              <i class="fa fa-fw fa-edit text-blue"></i>Edit
            </a>
          </li>
          <li>
            <a title="Pay" class="pointer" onclick="view_payments(18)">
              <i class="fa fa-fw fa-money text-blue"></i>View Payments
            </a>
          </li>
          <li>
            <a title="Pay" class="pointer" onclick="pay_now(18)">
              <i class="fa fa-fw fa-hourglass-half text-blue"></i>Pay Now
            </a>
          </li>
          <li>
            <a
              title="Update Record ?"
              target="_blank"
              href="purchase/print_invoice/18"
            >
              <i class="fa fa-fw fa-print text-blue"></i>Print
            </a>
          </li>
          <li>
            <a
              title="Update Record ?"
              target="_blank"
              href="purchase/pdf/18"
            >
              <i class="fa fa-fw fa-file-pdf-o text-blue"></i>PDF
            </a>
          </li>
          <li>
            <a title="Purchase Return" href="purchase_return/add/18">
              <i class="fa fa-fw fa-undo text-blue"></i>Purchase Return
            </a>
          </li>
          <li>
            <a
              style="cursor: pointer"
              title="Delete Record ?"
              onclick="delete_purchase('18')"
            >
              <i class="fa fa-fw fa-trash text-red"></i>Delete
            </a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</tbody>
<tfoot>
  <tr class="bg-gray">
    <th
      colspan="6"
      style="text-align: right"
      class="text-center"
      rowspan="1"
    >
      Total
    </th>
    <th rowspan="1" colspan="1">310,475.0</th>
    <th rowspan="1" colspan="1" style="display: none">3,331.0</th>
    <th rowspan="1" colspan="1" style="display: none">307,144.0</th>
    <th rowspan="1" colspan="1" style="display: none"></th>
    <th rowspan="1" colspan="1" style="display: none"></th>
    <th rowspan="1" colspan="1" style="display: none"></th>
  </tr>
</tfoot>
</table>
